In [1]:
#CONTINUITION OF LISTS#

In [2]:
my_students = ['sara,'ravi','akash','kiran','anjali']

SyntaxError: invalid syntax (<ipython-input-2-558c1eb280d2>, line 1)

In [3]:
print(students)

NameError: name 'students' is not defined

In [4]:
my_students = ['sara','ravi','akash','kiran','anjali']

In [5]:
print(my_students)

['sara', 'ravi', 'akash', 'kiran', 'anjali']

In [6]:
#ADDING kishore to the 2nd index to the list#

In [7]:
my_students.insert(2,'kishore')

In [8]:
print(my_students[2],t)

NameError: name 't' is not defined

In [9]:
print(my_students[2],tkishore)

NameError: name 'tkishore' is not defined

In [10]:
print(my_students[2],t\kishore)

SyntaxError: unexpected character after line continuation character (<ipython-input-10-407c2c8f2c6b>, line 1)

In [11]:
print(my_students[2],kishore)

NameError: name 'kishore' is not defined

In [12]:
print(my_students[2])

kishore

In [13]:
print(my_students)

['sara', 'ravi', 'kishore', 'akash', 'kiran', 'anjali']

In [14]:
#EDITING THE ELEMENT FROM THE LIST#REPLACING ravi with satish

In [15]:
my_student[1] = 'satish'

NameError: name 'my_student' is not defined

In [16]:
my_students[1] = 'satish'

In [17]:
print(my_students)

['sara', 'satish', 'kishore', 'akash', 'kiran', 'anjali']

In [19]:
#DELETING THE ELEMENT/S FROM THE LIST#Delete akash from the list- 3rd element from the list

In [20]:
del my_students[3]

In [21]:
print(my_students)

['sara', 'satish', 'kishore', 'kiran', 'anjali']

In [22]:
#USE OF POP MEDHOD#USED TO DELETE ELEMENTS

In [23]:
sprint(my_students)

NameError: name 'sprint' is not defined

In [24]:
my_students

['sara', 'satish', 'kishore', 'kiran', 'anjali']

In [25]:
x = my_students.pop()

In [26]:
print(my_students)

['sara', 'satish', 'kishore', 'kiran']

In [27]:
print(x)

anjali

In [28]:
#ORGANIZING THE LIST#

In [29]:
cars = ['bmw','honda','audi','benz','toyota','maruthi']

In [30]:
#TOTAL COUNT OF THE ELEMENTS IN LIST#

In [31]:
len(cars)

6

In [32]:
#ARRANGING THE LIST IN ALPHABETICAL ORDERS-> A-Z#

In [33]:
#TWO APPROACHES->SORTED AND SORT#

In [34]:
print(sorted(cars))

['audi', 'benz', 'bmw', 'honda', 'maruthi', 'toyota']